<section class="slider">
  <div class="container">
  <ul class="js-rotating">
      {% if slider_code != '' %}
        {{ slider_code | striptags('<ol>,<ul>,<li>,<p>,<a>,<img>,<video>,<h1>,<h2>,<h3>,<h4>,<h5>,<h6>,<em>,<strong>,<br>,<i>,<button>,<mark>') | raw }}
      {% else %}
      <li>
			<h1>Construyendo oportunidades, generando cambios</h1>
			<p>Nos gusta pensar que estamos haciendo un bien a la sociedad brindando esta información a las personas</p>
      </li>
      <li>
        <h1>Esto será rápido</h1>
        <p>Quieres conocer ofertas empleo ¿cierto? Aquí puedes hacer esto de manera rápida</p>
        <a class="button" href="https://ukua.xyz/es/user/login">Comenzar</a>
      </li>
      <li>
        <h1>También te ofrecemos la oportunidad de publicitarte</h1>
        <p>Para todas aquellas empresas que quieres darse a conocer, este también es tu lugar</p>
        <a class="button" href="https://ukua.xyz/es/user/login">Comenzar</a>
      </li>
      <li>
        <h1 >¡Únete! </h1>
        <p>En Ukua nos preocupamos por mostrarle a nuestros usuarios ofertas de empleo ¿quieres intentarlo?</p>
        <a class="button" href="https://ukua.xyz/es/user/login">Comenzar</a>
      </li>
      {% endif %}
    </ul> <!--/.home-slider -->
  </div> <!--/.container -->
</section>
