<<<<<<< HEAD
div#block-bienvenidoaukua{
    padding: 5%;
}

div#block-bienvenidoaukua:after {
    content: "";
    position: absolute;
    height: calc(100% + 60px);
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    background: #EEEEEE; 
    z-index: -1;
    background-size: cover;
=======
div#block-bienvenidoaukua{
    padding: 5%;
}

div#block-bienvenidoaukua:after {
    content: "";
    position: absolute;
    height: calc(100% + 60px);
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    background: #EEEEEE; 
    z-index: -1;
    background-size: cover;
>>>>>>> 7c242536350365e1e5cee0cf010e687d6f9a575c
}