<<<<<<< HEAD
ul.ofertasRelacionadas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 3px;
    height: 150px;
}

ul.ofertasRelacionadas>li {
    height: 150px;
    width: 150px;
    padding: 3px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient(-45deg, #393E46, #00ADB5, #23d5ab);
    animation: gradientAnimacion 15s ease infinite;
    border-radius: 5px;
}

li.ofertaRelacionada *{
    color: white;
}

@keyframes gradientAnimacion {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes gradientAnimacion {

    /* Firefox */
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes gradientAnimacion {

    /* Safari and Chrome */
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-o-keyframes gradientAnimacion {

    /* Opera */
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-ms-keyframes gradientAnimacion {

    /* IE10 */
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
=======
ul.ofertasRelacionadas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
    padding: 3px;
    height: 150px;
}

ul.ofertasRelacionadas>li {
    height: 150px;
    width: 150px;
    padding: 3px;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-content: center;
    background: linear-gradient(-45deg, #393E46, #00ADB5, #23d5ab);
    animation: gradientAnimacion 15s ease infinite;
    border-radius: 5px;
}

li.ofertaRelacionada *{
    color: white;
}

@keyframes gradientAnimacion {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-moz-keyframes gradientAnimacion {

    /* Firefox */
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-webkit-keyframes gradientAnimacion {

    /* Safari and Chrome */
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-o-keyframes gradientAnimacion {

    /* Opera */
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@-ms-keyframes gradientAnimacion {

    /* IE10 */
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
>>>>>>> 7c242536350365e1e5cee0cf010e687d6f9a575c
}